:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

.hero h1,
.hero h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.hero h1 {
  font-weight: bold;
  font-size: 86px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  color: #272142;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero a {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.projects a {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.projects img {
  margin-top: 100px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 34px;
  }

  .hero {
    padding: 80px 20px;
  }
  nav h3 {
    font-size: 15px;
    line-height: 38px;
    font-weight: bold;
  }
  nav li {
    font-size: 10px;
  }

  footer #contact-box {
    padding: 10px;
  }

  footer #contact-box h4 {
    font-size: 18px;
  }

  footer #contact-box p {
    font-size: 12px;
  }

  footer #contact-button {
    font-size: 12px;
    padding: 2px 5px;
  }
  footer #email {
    font-size: 18px;
  }
}

.headshot {
  width: 250px;
  height: auto;
  margin-top: 50px;
}

.content {
  margin: 30px;
}

.content-container h1 {
  font-size: 54px;
  font-weight: bold;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

.content-container h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-container h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-weight: bold;
}

.content-container a {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content p {
  font-size: 14px;
}

.content-container {
  padding: 160px 20px;
  text-align: center;
  background-color: var(--secondary-color);
}

.contact {
  margin: 30px;
}

.contact-container h1 {
  font-size: 54px;
  font-weight: bold;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

.contact-container {
  padding: 120px 20px;
  text-align: center;
  background-color: var(--secondary-color);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

#email {
  color: black;
  font-size: 16px;
  line-height: 27px;
  padding: 30px 30px 20px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#social-links {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--branding-color);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

#contact-button {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

#contact-box {
  background: var(--secondary-color);
  padding: 20px 80px;
  margin: 40px;
  border-radius: 8px;
}

#contact-box h4 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.contact a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
